<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="mainApp" class="no-js" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="mainApp" class="no-js" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="mainApp" class="no-js" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="mainApp" class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="Workday Sets Price Range for I.P.O." ng-bind="documentTitle"/>
    <title ng-bind="documentTitle"></title>
    <!--<meta property="og:title" content="CircoViral" />-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body class="body" id="body">

<!---------------------------------
--------------Header------------ -->z
<header class="header" id="header">
    <div class="header-container" ng-controller="MainCtrl">
        <div class="columns twelve">
            <div class="static-header">
                <div class="logo">
                    <a href="/">
                        <img class="only-desktop" src="/images/logo.png" alt="">
                        <img class="only-mobile" src="/images/logo-small.png" alt="">
                    </a>
                </div>
                <nav class="nav-collapse">
                    <ul>
                        <li ng-repeat="category in categories">
                            <a href="/category/{[{category.key}]}">
                                <div class="nav-indicator"
                                     style="background-color:{[{category.color}]}"></div>
                                <div ng-bind="category.name"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="like-us-button">
                        <iframe id="likeButtonIframe" 
                                scrolling="no" frameborder="0"
                                style="border:none; overflow:hidden; width:147px; height:21px;vertical-align:middle;"
                                allowTransparency="true"></iframe>
                    </div>
                </nav>
            </div>
        </div>
        <div class="static-share-header">
            <div class="share-header-container">
                <div class="logo">
                    <a href="/">
                        <img class="only-desktop" src="/images/logo.png" alt="">
                        <img class="only-mobile" src="/images/logo-small.png" alt="">
                    </a>
                </div>

                <div class="sharebar">
                    <ul>
                        <li>
                            <a href="javascript:void(0);"
                               onclick="cv_share_window('http://www.facebook.com/sharer/sharer.php?u='+window.location.href);"
                               class="share-button facebook"></a>
                        </li>
                        <li>
                            <a href="whatsapp://send?text={[{documentTitle}]}" class="share-button whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</header>
<!---------------------------------
------------//Header-------------->

<!---------------------------------
--------------Main Content------ -->
<div ng-view style="padding: 0px; margin:0px;">
    <section id="main-content" class="main-content clearfix">
        <div class="container"></div>
        <!-- main article content     -->

    </section>
</div>

<!---------------------------------
------------//Main Content------ -->


<!---------------------------------
--------------Footer------------ -->
<footer id="footer" class="footer">
    <!-- FACEBOOK INITIALIZATION -->
    <div id="fb-root"></div>
    <!--<script>window.fbAsyncInit=function(){FB.init({appId:"144003659275226",xfbml:!0,version:"v2.4"})},function(e,n,t){var o,c=e.getElementsByTagName(n)[0];e.getElementById(t)||(o=e.createElement(n),o.id=t,o.src="//connect.facebook.net/en_US/sdk.js",c.parentNode.insertBefore(o,c))}(document,"script","facebook-jssdk");</script>-->
    <!-- FACEBOOK INITIALIZATION -->
    <!--<script src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js'></script>-->

	{{#if production}}
        <script async src='/js/script.js'></script>
        <!--<script>[[SCRIPTS_HERE]]</script>-->

        <style>[[STYLES_HERE]]</style>
	{{else}}
        <!--Add scripts that are globally required by your site here.-->
        <script src='/js/lib/jquery/dist/jquery.js'></script>
        <script src='/js/lib/responsive-nav/responsive-nav.js'></script>
        <script src='/js/lib/angular/angular.js'></script>
        <script src='/js/lib/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>
        <script src='/js/lib/angular-sanitize/angular-sanitize.js'></script>
        <script src='/js/lib/angular-route/angular-route.js'></script>
        <script src='/js/lib/angular-resource/angular-resource.js'></script>
        <script src='/js/index.js'></script>
        <script src='/js/app/services.js'></script>
        <script src='/js/app/directives.js'></script>
        <script src='/js/app/blog/blog.js'></script>
        <script src='/js/app/post/post.js'></script>
        <script src='/js/app/main.js'></script>

        <link rel="stylesheet" href="/styles/site.css">
	{{/if}}

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
</footer>
<!---------------------------------
--------------//Footer----------- -->

</body>
</html>
