extends ../../layouts/material_init
block angular
	div(ng-controller="HomeCtrl as blog")
		.columns.twelve
			.top-card.clearfix
				article
					.content-wrapper
						a(href='#')
							img(src='http://lorempixel.com/450/238', alt='', width='946', height='500')
							.header-info
								h1 This is just a testing header for the head information kept it
				// main article-content
				.main-article-content.clearfix
					.columns.twelve
						article.card.card-split.color-omg
							a(href='#')
								.split-image(style='background-image:url(http://www.hellou.co.uk/wp-content/uploads/2015/08/icon4-150x65.jpg);')
									.header-info
										h1 Just wanna say hi with this heading tag. Hi
											.card-meta-data.clearfix
											span.visitas 322 Visitas
											time.time-ago 2 hours ago
										.post-nav-container.clearfix
											a(href='#', alt='') Newer Posts →
											a(href='#', alt='') ← Older Posts
