<div>
	<div class="columns twelve">
		<div class="top-card clearfix">
			<article>
				<div class="content-wrapper">
					<a href="#">
						<img src="http://lorempixel.com/450/238" alt="" width="946" height="500"/>

						<div class="header-info">
							<h1>This is just a testing header for the head information kept it</h1>
						</div>
					</a>
				</div>
			</article>
		</div>
	</div>

	<!-- main article-content     -->
	<div class="main-article-content clearfix">
		<div class="columns twelve">

			<article class="card card-split color-divertido" ng-repeat="post in posts">
				<a href="/post/{[{post.slug}]}">
					<div class="split-image"
						 style="background-image:url({[{post.image.url}]});">
					</div>

					<div class="header-info">
						<h1>{[{post.title}]}</h1>
					</div>
					<div class="card-meta-data clearfix">
						<span class="visitas">{[{post.visits}]}</span>
						<time class="time-ago">{[{post.timeAgo}]}</time>
					</div>
				</a>

			</article>
			<div class="post-nav-container clearfix">
				<a href="#" alt="">Newer Posts &rarr;</a>
				<a href="#" alt="">&larr; Older Posts</a>
			</div>


		</div>
	</div>
</div>
