<div>
	<div class="columns twelve">
		<div class="color-omg main-article-container clearfix">
			<!-- Main Article Content -->
			<article class="article-content">
				<div class="content-wrapper clearfix">
					<div class="post-meta-container clearfix">
						<span class="category color-omg-text">NEWS</span>
						<span class="time-span">{[{post.timeAgo}]}</span>
					</div>
					<h1>{[{post.title}]}</h1>

					<div class="clearfix sharebar">
                                    <span class="total-visitas">
                                        <span class="visitors">{[{post.visits}]}</span>
                                        <span class="vissitas"> Visita<span ng-if="post.visits>1">s</span></span>
                                    </span>
						<ul>
							<li>
								<a href="" ng-click="shareFacebook()" class="share-button facebook"></a>
							</li>
							<li>
								<a href="{[{post.watsAppLink}]}" class="share-button whatsapp"></a>
							</li>
						</ul>
					</div>
					<div ng-bind-html="post.content.extended"></div>
					<div class="clearfix sharebar">
						<ul>
							<li>
								<a href="" ng-click="shareFacebook()" class="share-button facebook"></a>
							</li>
							<li>
								<a href="{[{post.watsAppLink}]}" class="share-button whatsapp"></a>
							</li>
						</ul>

					</div>

					<div class="comment-div">
						<div id="fb-comment-box" dyn-fb-comment-box page-href="http://developers.facebook.com/docs/plugins/comments/"></div>
					</div>

				</div>
			</article>
			<!-- Main Article Content -->

			<!-- //Post Content Area -->
			<div class="article-lead">

				<div class="clearfix lead-links recent-in-cat">
					<a href="#" class="recent-in-cat btn-logger">Recent In Category</a>
				</div>
				
				<!-- Popular-cards -->
				<div class="very-popular-cards">
					<article class="card card-split" style="border-color: {[{recentPost.categories[0].color}]}" ng-repeat="recentPost in recentPosts" ng-hide="recentPost._id==post._id">
						<a href="/post/{[{recentPost.slug}]}">
							<div class="split-image"
								 style="background-image:url({[{recentPost.image.url}]});">
							</div>
							<div class="header-info clearfix">
								<h1>{[{recentPost.title}]}</h1>
							</div>
							<div class="card-meta-data clearfix">
								<span class="visitas">{[{recentPost.visits}]} Visita<span ng-if="recentPost.visits>1">s</span></span>
								<time class="time-ago">{[{recentPost.timeAgo}]}</time>
							</div>
						</a>

					</article>
					
				</div>
				<!-- /Popular-cards -->

				<div class="clearfix lead-links top-stories">
					<a href="/" class="top-stories btn-logger">View Top Stories</a>
				</div>


			</div>
			<!-- Post Lead Content  -->
		</div>
	</div>
</div>
